config SHIELD_STYGGNUS_DONGLE
    def_bool $(shields_list_contains,styggnus_dongle)
    
config SHIELD_STYGGNUS_LEFT
    def_bool $(shields_list_contains,styggnus_left)

config SHIELD_STYGGNUS_RIGHT
    def_bool $(shields_list_contains,styggnus_right)
